<ion-content>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
      <ion-title>Partager le post</ion-title>
    </ion-buttons>
      <ion-title slot="end" class="pointer" (click)="addPost()">Publier</ion-title>
  </ion-toolbar>

  <div class="card-create">
    <div class="card-img-profil">
      <ion-img src="./assets/images/{{user?.pictureProfil}}"></ion-img>
    </div>
    <div class="about-user-post">
      <ion-card-title>{{user?.firstname + ' ' + user?.lastname}}</ion-card-title>
      <ion-card-subtitle slot="start">{{user?.work}}</ion-card-subtitle>
    </div>
  </div>

  <div class="textarea-post">
    <textarea name="text" id="text" placeholder="De quoi souhaitez-vous discuter ?" [(ngModel)]="text"></textarea>
    <div class="pointer" (click)="addPhoto()"> <ion-icon name="image-outline"></ion-icon>  <span> Ajouter une photo</span></div>
  </div>
</ion-content>

