<ion-toolbar>
  <ion-segment>
    <ion-buttons (click)="home()">
      <ion-button>
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons (click)="newPost()">
      <ion-button>
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons (click)="profile()">
      <ion-button>
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-segment>
</ion-toolbar>
