ion-toolbar {
  --background: #FBBE00;

  ion-button{
    font-size: 1.5rem;
    --color: black;
  }
  ion-segment{
    display: flex;
    justify-content: space-around;
  }
}

.post-cache{
  display: none;
}

.post-view{
  display: block;
}
