<ion-toolbar>


  <ion-buttons slot="start" (click)="openMenu()" class="menu">
    <ion-title>You N Shared</ion-title>
    <ion-icon name="chevron-down-outline"></ion-icon>
  </ion-buttons>

  <ion-segment>

  </ion-segment>

  <ion-buttons slot="end" class="list-button-end-toolbar">
    <ion-button>
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
    </ion-button>
  </ion-buttons>

</ion-toolbar>
